:root {
  --orange: #d46b3d;
  --error-color: #ff0000cc;
  --main-light-color: #e5e5e5;
  --secondary-light-color: #c4c4c499;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#login,
#signup {
  font-family: "Readex Pro", sans-serif;
}

#login {
  margin: 8rem 0;
}

#signup {
  margin: 7rem;
}

#login h3,
#login h4 a,
#signup h3,
#signup h4 a {
  color: var(--orange);
}

#login h3,
#signup h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

#login h4,
#signup h4 {
  text-transform: capitalize;
}

#login .option,
#signup .option {
  display: flex;
  gap: 0.5rem;
}

#login .option p:first-child,
#signup .option p:first-child {
  color: var(--main-light-color);
}

#login form input,
#login h3,
#signup form input,
#signup h3 {
  margin: 0 0 3rem 0;
}

#login form input:not(input[type="submit"]),
#login form input[type="submit"],
#signup form input:not(input[type="submit"]),
#signup form input[type="submit"],
.loginError {
  border: none;
  border-radius: 20px;
}

#login form input[type="email"],
#login form input[type="password"],
#signup form input[type="text"],
#signup form input[type="password"] {
  min-height: 3.75rem;
  padding: 0rem;
  width: 40rem;
  border: none;
  border-radius: 20px;
  font-size: 1.15rem;
}

#login form input[type="submit"],
#signup form input[type="submit"] {
  background-color: var(--orange);
  color: var(--main-light-color);
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1.125rem;
}

body,
#login,
#signup {
  overflow-x: hidden;
  background: fixed url("./Images/double-bubble-dark.png") center;
}

.loginError {
  opacity: 0;
  margin: 0.2rem auto;
  width: fit-content;
  color: var(--error-color);
  padding: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.18rem;
}

.nav {
  position: relative;
  left: 31em;
  bottom: 6em;
}

.nav ul {
  display: flex;
  list-style-type: none;
  position: relative;
}

.nav ul li:not(li.button) {
  font-family: "Readex Pro", sans-serif;
  color: var(--main-light-color);
  text-transform: capitalize;
  padding: 1em;
  font-size: 28px;
  cursor: pointer;
}

.nav-line {
  position: absolute;
  bottom: 1em;
  left: 2em;
}

.button {
  min-height: 48px;
  max-width: 160px;
  background-color: var(--main-light-color);
  font-family: "Readex Pro", sans-serif;
  text-transform: capitalize;
  font-size: 28px;
  margin: 18px;
  padding: 6px 10px 5px 25px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.button a {
  color: var(--orange) !important;
}

.bigname {
  color: var(--orange);
  font-family: "Reggae One", cursive;
  font-size: calc(5.8rem);
  margin: 0 1em;
}

.projects {
  min-height: 30em;
  background-color: var(--orange);
}

.underline {
  margin: 0 auto;
}

.occupation {
  text-transform: uppercase;
  color: var(--orange);
  font-size: 24px;
  font-family: "Readex Pro", sans-serif;
}

.location {
  text-transform: capitalize;
  color: var(--main-light-color);
  font-size: 18px;
  font-family: "Readex Pro", sans-serif;
}

.underline {
  min-height: 3px;
  max-width: 182px;
  background-color: var(--orange);
}

/* projects class */
a {
  text-decoration: none;
  color: var(--main-light-color);
}

.projects a {
  text-decoration: underline !important;
  color: var(--main-light-color);
  font-family: "Readex Pro", sans-serif;
}

.projects h4 {
  text-transform: capitalize;
  font-size: 28px;
  color: var(--main-light-color);
  font-family: "Readex Pro", sans-serif;
  margin: 1rem 0;
}

.title {
  display: flex;
}

.project-content {
  display: block;
}

.projects,
.contact-me,
.title,
.button,
.name,
#login,
#login form input[type="email"],
#login form input[type="password"],
#login .option,
#signup,
#signup form input[type="text"],
#signup form input[type="password"],
#signup .option,
#login .loginError {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.me img {
  height: 200px;
  width: 145px;
  border: none;
  border-radius: 50%;
}
.contact-me {
  min-height: 21em;
  padding: 1em;
  background-color: var(--orange);
  position: relative;
  top: 21em;
}

.image-frame .one,
.image-frame .two {
  min-height: 300px;
  max-width: 200px;
  border: 1px solid var(--main-light-color);
  border-radius: 20px;
  position: absolute;
  left: 35em;
}

.image-frame .two {
  position: relative;
}

.image-frame .one {
  position: relative;
  left: 36em;
  top: 20em;
}

.image-frame .two img {
  max-width: 200px;
  min-height: 300px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  #login,
  #signup {
    max-width: 100vw;
  }

  #login form,
  #signup form {
    width: 50%;
  }

  #login .option,
  #signup .option {
    display: block;
    width: 100%;
    font-size: 0.8rem;
  }
}
