:root {
  --orange: #d46b3d;
  --error-color: #ff0000cc;
  --main-light-color: #e5e5e5;
  --secondary-light-color: #c4c4c499;
  --main-font:"Readex Pro", sans-serif;
  --rare-font:"Reggae One", cursive;
  --tick:'&#x2705';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.logo img {
  margin: 0 7rem;
}

#login,
#signup {
  font-family: var(--main-font);
}

#login {
  margin: 8rem 0;
}

#signup {
  margin: 7rem;
}

#login h3,
#login h4 a,
#signup h3,
#signup h4 a {
  color: var(--orange);
}

#login h3,
#signup h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

#login h4,
#signup h4 {
  text-transform: capitalize;
}

#login .option,
#signup .option {
  display: flex;
  gap: 0.5rem;
}

#login .option p:first-child,
#signup .option p:first-child {
  color: var(--main-light-color);
}

#login form input,
#login h3,
#signup form input,
#signup h3 {
  margin: 0 0 3rem 0;
}

#login form input:not(input[type="submit"]),
#login form input[type="submit"],
#signup form input:not(input[type="submit"]),
#signup form input[type="submit"],
.loginError {
  border: none;
  border-radius: 20px;
}

#login form input[type="email"],
#login form input[type="password"],
#signup form input[type="text"],
#signup form input[type="password"] {
  min-height: 3.75rem;
  padding: 0rem;
  width: 40rem;
  border: none;
  border-radius: 20px;
  font-size: 1.15rem;
}

#login form input[type="submit"],
#signup form input[type="submit"] {
  background-color: var(--orange);
  color: var(--main-light-color);
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1.125rem;
}

body,
#login,
#signup {
  overflow-x: hidden;
  background: fixed rgb(0, 0, 0) center;
}

.loginError {
  opacity: 0;
  margin: 0.2rem auto;
  width: fit-content;
  color: var(--error-color);
  padding: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.18rem;
}

.nav {
  position: relative;
  width: 100vw;
  bottom: 7rem;
  left: 23rem;
}

.nav ul {
  display: flex;
  list-style-type: none;
  position: relative;
}

.nav ul li:not(li.button) {
  font-family: var(--main-font);
  color: var(--main-light-color);
  text-transform: capitalize;
  padding: 1em;
  font-size: 28px;
  cursor: pointer;
}

.nav-line {
  position: absolute;
  bottom: 1em;
  left: 2em;
}

.button {
  min-height: 12px;
  max-width: 160px;
  background-color: var(--main-light-color);
  font-family: var(--main-font);
  text-transform: capitalize;
  font-size: 20px;
  margin: 26px;
  padding: 6px 10px 5px 25px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  text-align: center;
}

.button a {
  color: var(--orange) !important;
}

.name{
  position: relative;
  top: -23rem;
}

.name *:not(.underlineVector){
  margin-bottom:1rem ;
}

.bigname {
  color: var(--orange);
  font-family: var(--rare-font);
  font-size: calc(5.8rem);
  position: relative;
top: 3rem;
}
.underlineVector{
  position: relative;
  left: 33.5rem;
  top: -3rem;
}


.circle {
  width: 25rem;
  height: 25rem;
  border: 0.625rem solid var(--orange);
  border-radius: 50%;
  margin: 0 auto;
  opacity: .8;
}

.occupation {
  text-transform: uppercase;
  color: var(--orange);
  font-size: 24px;
  font-family: var(--main-font);
}

.location {
  text-transform: capitalize;
  color: var(--main-light-color);
  font-size: 18px;
  font-family: var(--main-font);
}

.underline {
  min-height: 3px;
  max-width: 182px;
  background-color: var(--orange);
  margin: 0 auto;
}

/* projects class */

.projects {
  min-height: 30em;
  max-width: 100vw;
  background-color: var(--orange);
  padding: .625rem;
  display: flex;
  gap: .625rem;
  grid-column: 1;
  position: relative;
  top: -5rem;
}

a {
  text-decoration: none;
  color: var(--main-light-color);
}

.projects a {
  text-decoration: underline !important;
  color: var(--main-light-color);
  font-family: var(--main-font);
}

.projects h4{
  text-transform: capitalize;
  font-size: 28px;
  color: var(--main-light-color);
  font-family: var(--main-font);
  margin: 1rem 0;
}

.title {
  display: flex;
}

/* about class */
.about{
  padding: .625rem;
  margin: 0 auto;
  display: flex;
  gap: 10rem;
  position: relative;
  left: 12rem;
}
.skills h4{
  text-transform: capitalize;
  font-family: var(--main-font);
}


.skills ul li{
  font-family: var(--main-font);
  list-style-position: outside;
  font-size: 1.rem;
}

.skills ul{
  display: list-item;
  /* list-style-type:"&#x2705"; */
  line-height: 1.5rem;
}

.skills ul li, .skills ul h6{
  color: var(--main-light-color);
}

.skills ul h6{
  font-family: var(--rare-font);
}

.projects,
.contact-me,
.title,
.button,
.name,
#login,
#login form input[type="email"],
#login form input[type="password"],
#login .option,
#signup,
#signup form input[type="text"],
#signup form input[type="password"],
#signup .option,
#login .loginError {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.me img {
  height: 200px;
  width: 145px;
  border: none;
  border-radius: 50%;
}
.contact-me {
  min-height: 21em;
  padding: 1em;
  background-color: var(--orange);
  position: relative;
  top: 21em;
}

/* .image-frame .one{
  min-height: 300px;
  max-width: 200px;
  
  border-radius: 1.25rem;
  position: absolute;
  
} */

.image-frame .two {
  position: relative;
}

.image-frame img {
  max-width: 200px;
  min-height: 300px;
  border: 1px solid var(--main-light-color);
  border-radius: 1.25rem;
}

.aboutme-text{
  font-family: var(--main-font);
}

.aboutme-text h4, .skills h4{
  color: var(--orange);
  margin-bottom: 0.5rem;
}

.aboutme-text p{
  max-width: 25rem;
  color: var(--main-light-color);
  line-height: 1.5rem;
}

@media (max-width: 500px) {
  #login,
  #signup {
    max-width: 100vw;
  }

  #login form,
  #signup form {
    width: 50%;
  }

  #login .option,
  #signup .option {
    display: block;
    width: 100%;
    font-size: 0.8rem;
  }
}
