:root {
  --orange: #d46b3d;
  --main-light-color: #e5e5e5;
  --secondary-light-color: #c4c4c499;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#login {
  font-family: "Readex Pro", sans-serif;
  margin: 10rem;
}

#login h3,
#login h4 a {
  color: var(--orange);
}

#login h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

#login h4 {
  text-transform: capitalize;
}

#login .option {
  display: flex;
  gap: 0.5rem;
}

#login .option p:first-child {
  color: var(--main-light-color);
}

#login form input,
#login h3 {
  margin: 0 0 3rem 0;
}

#login form input[type="text"],
#login form input[type="submit"] {
  border: none;
  border-radius: 20px;
}

#login form input[type="text"] {
  min-height: 3.75rem;
  max-width: 40rem;
  width: 40rem;
  border: none;
  border-radius: 20px;
  font-size: 1.15rem;
}

#login form input[type="submit"] {
  background-color: var(--orange);
  color: var(--main-light-color);
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 1.125rem;
}

body,
#login {
  overflow-x: hidden;
  background: fixed url("./Images/double-bubble-dark.png") center;
}

.nav {
  position: relative;
  left: 31em;
  bottom: 6em;
}

.nav ul {
  display: flex;
  list-style-type: none;
  position: relative;
}

.nav ul li:not(li.button) {
  font-family: "Readex Pro", sans-serif;
  color: var(--main-light-color);
  text-transform: capitalize;
  padding: 1em;
  font-size: 28px;
  cursor: pointer;
}

.nav-line {
  position: absolute;
  bottom: 1em;
  left: 2em;
}

.button {
  min-height: 48px;
  max-width: 160px;
  background-color: var(--main-light-color);
  font-family: "Readex Pro", sans-serif;
  text-transform: capitalize;
  font-size: 28px;
  margin: 18px;
  padding: 6px 10px 5px 25px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.button a {
  color: var(--orange) !important;
}

.bigname {
  color: var(--orange);
  font-family: "Reggae One", cursive;
  font-size: calc(5.8rem);
  margin: 0 1em;
}

.projects {
  min-height: 30em;
  background-color: var(--orange);
}

.underline {
  margin: 0 auto;
}

.occupation {
  text-transform: uppercase;
  color: var(--orange);
  font-size: 24px;
  font-family: "Readex Pro", sans-serif;
}

.location {
  text-transform: capitalize;
  color: var(--main-light-color);
  font-size: 18px;
  font-family: "Readex Pro", sans-serif;
}

.underline {
  min-height: 3px;
  max-width: 182px;
  background-color: var(--orange);
}

/* projects class */
a {
  text-decoration: none;
  color: var(--main-light-color);
}

.projects a {
  text-decoration: underline !important;
  color: var(--main-light-color);
  font-family: "Readex Pro", sans-serif;
}

.projects h4 {
  text-transform: capitalize;
  font-size: 28px;
  color: var(--main-light-color);
  font-family: "Readex Pro", sans-serif;
  margin: 1rem 0;
}

.title {
  display: flex;
}

.project-content {
  display: block;
}

.projects,
.contact-me,
.title,
.button,
.name,
#login,
#login form,
#login form input[type="text"],
#login .option {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-me {
  min-height: 21em;
  padding: 1em;
  background-color: var(--orange);
  position: relative;
  top: 21em;
}

.image-frame .one,
.image-frame .two {
  min-height: 300px;
  max-width: 200px;
  border: 1px solid var(--main-light-color);
  border-radius: 20px;
  position: absolute;
  left: 35em;
}

.image-frame .two {
  position: relative;
}

.image-frame .one {
  position: relative;
  left: 36em;
  top: 20em;
}

.image-frame .two img {
  max-width: 200px;
  min-height: 300px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  #login .option {
    display: block;
    width: 100%;
    font-size: 0.8rem;
  }
}
