<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&family=Reggae+One&display=swap"
      rel="stylesheet"
    />
    <title>Login! Join the blog</title>
    <style>
      @import "/node-modules/stunicons/fonts/style.min.css";
    </style>
    <script type="text/javascript">
      function validateForm() {
        let emailValue = document.forms.loginForm.email.value;
        const atPos = emailValue.indexOf("@");
        const dotPos = emailValue.indexOf(".");
        const password = "grace10";
        let givenPassword = document.forms.loginForm.password.value;
        const validEmail =
          /[a-zA-Z0-9]{3,}[@]{1}[A-Za-z]{1,}[\.]{1}[a-zA-Z0-9]{2,}/g;

        if (
          dotPos - atPos < 2 ||
          givenPassword != password ||
          !emailValue.match(validEmail)
        ) {
          document.querySelector(".loginError").style.opacity = "1";
          return false;
        } else {
          document.querySelector(".loginError").style.opacity = "0";
        }
      }
    </script>
  </head>
  <body id="login">
    <div class="me">
      <img src="../Images/IMG-20210908-WA0009.jpg" alt="me" />
    </div>
    <div class="login">
      <h3>Login</h3>
      <form name="loginForm" action="#" method="#" onsubmit="validateForm()">
        <div class="loginError">Incorrect email or password!</div>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter valid email"
          required
        /><br />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter valid password"
          required
        /><br />
        <input type="submit" value="Login" /><br />
      </form>
    </div>
    <div class="option">
      <p>First time here?</p>
      <h4><a href="./signup.html">Sign up</a></h4>
    </div>
  </body>
</html>
